html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: #091d33;
  color: antiquewhite;
  margin: 0;
  padding: 1rem;
}

main {
  border: 3px solid white;
  border-radius: 2rem;
}