.button {
  border: 1px solid black;
  border-radius: 30%;
  background: none;
  font-size: x-large;
  font-weight: 500;
  padding: 0.2rem;
  width: 25%;
}

.buttonContainer {
  margin: 5px auto;
  padding: 0.5rem;
  text-align: center;
}

.buttonDelete {
  float: right;
}

.item {
  background-color: goldenrod;
  border: 2px solid;
  border-radius: 1.5rem;
  color: black;
  margin: 0.25rem;
  max-width: 230px;
  min-width: 160px;
  padding: 0.5rem;
  text-align: justify;
  width: 25%;
}

.itemCount {
  font-size: large;
  font-weight: 500;
  margin: 1.25rem;
}
